---
  import Layout from "../components/Layout.astro"
  import Test from "../components/Test.astro"
  import glassImg from "../img/_I4A1006.jpg"
  import taikoImg from "../img/this.png"
  import coatRackImg from "../img/rendteline3.png"
---

<style>
  section {
    text-align: center;
    font-size: 1.25rem;
  }

  .three-img {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .img-container {
    width: 24rem;
    height: 24rem;
    font-size: 2rem;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
</style>

<Layout>
  <section>
    Helsinki-based Industrial design student studying at Metropolia University of Applied Sciences. 
    Hoping to forge good relationships and good products.
  </section>
  <div class="three-img">
    <div class="img-container">
      <img class="img" src={glassImg} />
      <h2>Objects</h2>
    </div>
    <div class="img-container">
      <img class="img" src={taikoImg} />
      <h2>2D works</h2>
    </div>
    <div class="img-container">
      <img class="img" src={coatRackImg} />
      <h2>3D works</h2>
    </div>
  </div>
</Layout>
