---
  import Layout from "../components/Layout.astro"
  import glassImg from "../img/_I4A1006.jpg"
  import taikoImg from "../img/this.png"
  import coatRackImg from "../img/rendteline3.png"
---

<style>
  section {
    text-align: center;
    font-size: 1.25rem;
  }

  .three-img {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .img-container {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .zoom {
    width: 24rem;
    height: 24rem;
    overflow: hidden;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1.1s;
  }

  .img-container:hover img {
    transform: scale(1.1);
  }

  h2 {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  h2:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
  }
  .img-container:hover h2:after {
  	width: 100%;
  	background: var(--theme);
  }
</style>

<Layout>
  <section>
    Helsinki-based Industrial design student studying at Metropolia University of Applied Sciences. 
    Hoping to forge good relationships and good products.
  </section>
  <div class="three-img">
    <a href="/objects">
      <div class="img-container">
        <div class="zoom">
          <img class="img" src={glassImg} />
        </div>
        <h2>Objects</h2>
      </div>
    </a>
    <a href="/2d">
      <div class="img-container">
        <div class="zoom">
          <img class="img" src={taikoImg} />
        </div>
        <h2>2D works</h2>
      </div>
    </a>
    <a href="/3d">
      <div class="img-container">
        <div class="zoom">
          <img class="img" src={coatRackImg} />
        </div>
        <h2>3D works</h2>
      </div>
    </a>
  </div>
</Layout>
