---
  import Layout from "../components/Layout.astro"
---

<style>
  section {
    text-align: center;
    font-size: 1.25rem;
  }
</style>

<Layout>
  <section>
    Helsinki-based Industrial design student studying at Metropolia University of Applied Sciences. 
    Hoping to forge good relationships and good products.
  </section>
</Layout>
