---
import "../global.css"
import Nav from "./Nav.astro"
const { title, activeLink } = Astro.props;
---
<html lang="en">
  <meta charset="utf-8" />
	  <link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
	<meta name="viewport" content="width=device-width" />

  <head>
    <title>Katja Oderychev - {title}</title>
  </head>
  <body>
    <Nav activeLink={activeLink ?? ""} />
    <slot />
  </body>
</html>
