---
import "../global.css"
import Nav from "./Nav.astro"
const { title, activeLink } = Astro.props;
---
<style>
  footer {
    border-top: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
  }

  footer > div {
    padding-top: 1rem;
  }
</style>

<html lang="en">
  <meta charset="utf-8" />
	  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💡</text></svg>" />
	<meta name="viewport" content="width=device-width" />

  <head>
    <title>Katja Oderychev - {title}</title>
  </head>
  <body>
    <Nav activeLink={activeLink ?? ""} />
    <slot />
    <footer>
      <div><a href="mailto:katjavalentina@gmail.com">Contact me at katjavalentina@gmail.com</a></div>
      <div><a href="https://github.com/Sendouc/katja-portfolio">Source code available on GitHub</a></div>
    </footer>
  </body>
</html>
