<style>
  nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .links-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  a {
    padding: 0 1rem;
  }

  h1 {
  color: var(--theme);
  font-family: "Syncopate", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
</style>

<nav>
  <h1>KATJA<br/>ODERYCHEV</h1>
  <div class="links-container">
    <a>CV & Contact</a>
    <a>2D Works</a>
    <a>3D Works</a>
    <a>Objects</a>
  </div>
</nav>
