---
const { activeLink } = Astro.props
---

<style>
  nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  a {
    padding: 0 1rem;
  }

  .active {
    border-bottom: 3px solid;
    border-color: var(--theme);
  }

  .katja {
    color: var(--theme);
    font-family: "Syncopate", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 2rem 0;
  }
</style>

<nav>
  <a class="katja" href="/">KATJA<br/>ODERYCHEV</a>
  <div class="links-container">
    <a href="/cv"><span class={activeLink === "cv" ? "active" : ""}>CV & Contact</span></a>
    <a href="/objects"><span class={activeLink === "objects" ? "active" : ""}>Objects</span></a>
    <a href="/2d"><span class={activeLink === "2d" ? "active" : ""}>2D Works</span></a>
    <a href="/3d"><span class={activeLink === "3d" ? "active" : ""}>3D Works</span></a>
  </div>
</nav>
