---
import Layout from "../../components/Layout.astro"
import Gallery from "../../components/Gallery.astro"
import images from "../../data/images.json"
---

<style>
  .intro {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.1rem;
  }
</style>

<Layout title="2D Works" activeLink="2d">
    <div class="intro">
      Some of my digital works over the years. My primary tool for over 7 years has been Clip Studio Paint.
    </div>
    <Gallery images={images["2d"]} prefix="/img/2d/" />
</Layout>
